h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
  /* image for background */

  min-height: 100vh;
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #97cff5);
  /* font parameters */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

  /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
  padding-top: 90px;
}


button {
  width:200px; 
  height:50px; 
  position: absolute; 
  left: 50%;  
  margin-left: -100px;
  text-align: center;
  padding-top: 100px;
}

input {

  position: relative; 
  margin-left: 49%;
  margin-right: 49%;
  text-align: center;
}

.navbar {
  background-color: blue;  
  color: white;  
  /* pulls everything down to push up against bottom border */
  padding-bottom: 0;

  /* allows ??? to control the horizontal position */
  padding-left: 0;
}

#navbar-title {
  padding: 15px;
  font-size: 30px;
  color: white;
}

/* container for nav header */
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link {
  background: linear-gradient(to right, #0062e6, #4faae7);
}

/* Change the color of links on hover */
.nav-link:hover {

  background-color: white;  
  /* color: #fff !important; */
  color: black;
}


#details {
  /* background-color: */
  /* text color: */
  /* provides spacing between the top and bottom nav bars and the content */
  margin-top: 20px;
  margin-bottom: 80px;

  /* provide spaceing around the text */
  padding: 40px;
} 
 

li {
  height: 50px;
  width: 300px;
  position: relative;
  text-align: center;
  margin-left: 38%;
  margin-right: 38%;
  background-color: black;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5;
  list-style-type: none;
}

li:hover {
  background-color: #0062e6;
}

#answer-image {
  float: left;
  padding-right: 1em;
  padding-top: 0.25em;
}

.footer {
  /* set text properties */
  background-color: #0062e6;
  
  /* sets height of footer*/
  height: 10%;
}

.footer-text {
  /* forces text across the entire screen so it has a center */
  width: 100%;
}

/* media query for screen size to be applied to center text to switch at same time as navbar */
@media (max-width: 768px) {
  .container-fluid {
    /* removes paddding on either side */
    padding-left: 0;
    padding-right: 0;
  }

/* removes verticle lines between text */
  li {
    border-right: none;
  }

/* collapses space between menu options when they stack vertically*/
  .nav-link{
    padding: 1px;
  }
}
